<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ta.truckmap"
    android:versionCode="7"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <permission
        android:name="com.ta.truckmap.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- permission for access location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.ta.truckmap.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true" >
        <activity
            android:name="com.ta.truckmap.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ta.truckmap.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name="com.ta.truckmap.gpstracking.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ta.truckmap" />
            </intent-filter>
        </receiver>

        <service android:name="com.ta.truckmap.gpstracking.GcmIntentService" />

        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC8SOeEvEfDqOcOHqhdxBsNZlZt7DvvhJ8" />
        -->


        <!-- live key -->


        <!--
             <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDYnl1kwaCH1gPZUWJnH12UtV3mIbIEk7w" />
        -->


        <!-- testing key -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBo-Y1DhNC7EZAbYQve6UAmTFsAM9NWELI" />

        <activity
            android:name="com.ta.truckmap.SignUpActivityForCompany"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ta.truckmap.SignUpActivityForNewUser"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ta.truckmap.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.ShareActivity"
            android:label="@string/title_activity_share_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.ta.truckmap.FinishTripActivity"
            android:label="@string/title_activity_finish_trip"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.MapScreenActivity"
            android:alwaysRetainTaskState="True"
            android:label="@string/title_activity_map_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.NotificationsDetail"
            android:label="@string/title_activity_notifications_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.MapScreenFinish"
            android:label="@string/title_activity_notifications_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.EventsActivity"
            android:label="@string/title_activity_notifications_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>
        <activity
            android:name="com.ta.truckmap.AddNewEventActivity"
            android:label="@string/title_activity_notifications_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.ta.truckmap.EventDetails"
            android:label="@string/title_activity_notifications_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ta.truckmap.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustNothing" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d1bc37736b2c45b30b6f3f24659b122a73db98b8" />
    </application>

</manifest>